@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Varela Round", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}
